@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

* {
  font-family: Poppins;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 94%);
  margin: 0;
}
#calculatorBox {
  background-color: hsl(0, 0%, 100%);
  width: 760px;
  height: 608px;
  margin: 40px auto;
  padding-left: 48px;
  padding-top: 48px;
  border-radius: 20px 20px 200px 20px;
}

#inputsBox {
  display: flex;
}

.singleInput {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  font-size: 32px;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
  width: 160px;
  height: 72px;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 7px;
  padding: 16px;
}

input:focus-visible {
  border: 1px solid hsl(259, 100%, 65%);
  outline-style: none;
}

.singleInput label {
  color: hsl(0, 1%, 44%);
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 8px;
}

#buttonBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#line {
  width: 80%;
  height: 0px;
  border-color: hsl(0, 0%, 86%);
  border-style: solid;
  border-width: 0.75px;
  margin: 8px 0px;
}

button {
  background-color: hsl(259, 100%, 65%);
  border: 0;
  border-radius: 50%;
  padding: 20px;
}

button:hover {
  background-color: hsl(0, 0%, 8%);
}

#outputBox {
  margin-top: 8px;
}
.outputLine {
  font-size: 80px;
  font-weight: 800;
  font-style: italic;
  margin: -24px 0px;
}

p.error {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: hsl(0, 100%, 67%);
  margin-top: 8px;
  margin-bottom: 0px;
}

p.error:empty {
  min-height: 21px;
}

label.error {
  color: hsl(0, 100%, 67%);
}

input.error {
  border-color: hsl(0, 100%, 67%);
}

#footerWrapper {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

footer {
  text-align: center;
  font-weight: 400;
  font-size: 8px;
  color: hsl(0, 1%, 44%);
}

footer a {
  color: hsl(259, 100%, 65%);
}

@media screen and (max-width: 760px) {
  body {
    padding: 50px 20px;
  }
  #calculatorBox {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 32px 24px;
    border-radius: 20px 20px 100px 20px;
  }

  #inputsBox {
    justify-content: space-between;
  }

  .singleInput {
    width: 25%;
    max-width: 128px;
    margin-right: 0;
  }

  .singleInput label {
    font-size: 8px;
    margin-bottom: 4px;
  }

  input {
    width: 100%;
    height: auto;
    font-size: 16px;
    padding: 8px;
  }

  p.error {
    font-size: 8px;
  }

  p.error:empty {
    min-height: 12.5px;
  }

  #buttonBox {
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: -32px;
  }

  #line {
    width: 100%;
  }

  button {
    position: relative;
    top: -33px;
    z-index: 999;
    padding: 12px;
  }

  button img {
    height: 20px;
  }

  .outputLine {
    font-size: 48px;
    margin: -8px 0px;
  }

  #footerWrapper {
    width: calc(100% - 40px);
  }
}
